<div>
    <div class="d-flex flex-row align-items-start">
        <!-- Columna 1: Icono -->
        <div class="icon-box"> <i class="icon-style bi bi-calendar"></i> </div>

        <!-- Columna 2: Detalles -->
        <div class="ms-2 c-details">
            <h3 class="mb-3 heading">{{ title}}</h3>
            <p class="mb-3 heading">{{body}}</p>
        </div>
    </div>
</div>

<!-- Sección 2: Enlace "Ver Turno" -->
<div class="mt-auto text-end">
    <a href="#" class="text1" style="text-decoration: none;">
        Ver turno <i class="text-icon bi bi-chevron-right"></i>
    </a>
</div>