<!-- Sección de Promociones -->
<div class="card  shadow-sm p-3 mb-2 bg-white ">
    <h3 class="mb-0 heading-aside p-3">Promociones</h3>
    <div class="row mt-3 p-3">
        <div class="d-flex justify-content-between">
            <img src="assets/images/cn1.jpg" class="img- rounded" alt="..." height="220" width="100%">
        </div>
    </div>
    <div class="row mt-3 p-3">
        <div class="d-flex justify-content-between">
            <img src="assets/images/cn1.jpg" class="img- rounded" alt="..." height="220" width="100%">
        </div>
    </div>
</div>

<!-- Sección de Contáctanos -->
<div class="card mt-5 shadow-sm p-3 mb-2 bg-white ">
    <div class="row  p-3">
        <h3 class="mb-0 heading-aside mb-3">Contáctanos</h3>
        <br>
        <p class="mb-0" style="color: #903697 !important; font-weight: bold;">Call Center</p>
        <p> Llama al <span class="text3"> 04 600 4000</span> para resolver todas tus necesidades. </p>

        <p class="mb-0" style="color: #903697 !important; font-weight: bold;">Asesor virtual Marcas</p>
        <p> ¡Habla con Marce por <span class="text3"> whatsapp</span> y soluciona cualquier duda! </p>

        <p class="mb-0" style="color: #903697 !important; font-weight: bold;">Agencias</p>
        <p> Acércate a tu agencia más cercana, revisa nuestros
            <a href="#" class="text3">centros de atención </a>
            <i class="icon-style-color bi bi-box-arrow-up-right"></i>
        </p>

        <p class="mb-0" style="color: #903697 !important; font-weight: bold;">Rol de pagos</p>
        <p> Revisa nuestra
            <a href="#" class="text3">red de pagos </a>
            <i class="icon-style-color bi bi-box-arrow-up-right"></i>
        </p>
    </div>
</div>